footer {
  padding-top: 26px;
  background: #f9f8f7;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .list1 {
      display: flex;
      column-gap: 80px;
      margin-bottom: 60px;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 729px;
        height: 2px;
        background: grey;
        position: absolute;
        top: 240px;
        right: 80px;
      }

      .li1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .f-logo {
          margin-bottom: 22px;
        }
        p {
          width: 262px;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          color: #607987;
        }
        .ti1 {
          width: 216px;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.32px;
          text-transform: capitalize;
          color: #0f1826;
          padding-top: 15px;
          margin-bottom: 38px;
        }
        .f-link {
          width: 216px;
          font-weight: 600;
          font-size: 14px;
          line-height: 32px;
          letter-spacing: -0.28px;
          color: #607987;
        }
      }
    }

    .list2 {
      display: flex;
      column-gap: 80px;

      .li2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .tit3 {
          width: 122px;
          font-weight: 700;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: -0.28px;
          color: #607987;
        }

        .tit2 {
          width: 198px;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.32px;
          color: #0f1826;
          margin-bottom: 17px;
        }

        p {
          width: 262px;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: -0.28px;
          color: #607987;
        }
        .link-box {
          a {
            width: 224px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.28px;
            color: #607987;
          }
        }
        a {
          width: 224px;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: -0.28px;
          color: #607987;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  footer {
    padding-top: 26px;
    background: #0F1826;

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .list1 {
        display: flex;
        column-gap: 80px;
        margin-bottom: 60px;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 729px;
          height: 2px;
          background: grey;
          position: absolute;
          top: 240px;
          right: 80px;
        }

        .li1 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .f-logo {
            margin-bottom: 22px;
          }
          p {
            width: 262px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #ffffff;
          }
          .ti1 {
            width: 216px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.32px;
            text-transform: capitalize;
            color: #ffffff;
            padding-top: 15px;
            margin-bottom: 38px;
          }
          .f-link {
            width: 216px;
            font-weight: 600;
            font-size: 14px;
            line-height: 32px;
            letter-spacing: -0.28px;
            color: #ffffff;
          }
        }
      }

      .list2 {
        display: flex;
        column-gap: 80px;

        .li2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .tit3 {
            width: 122px;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.28px;
            color: #ffffff;
          }

          .tit2 {
            width: 198px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.32px;
            color: #ffffff;
            margin-bottom: 17px;
          }

          p {
            width: 262px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.28px;
            color: #ffffff;
          }
          .link-box {
            a {
              width: 224px;
              font-weight: 600;
              font-size: 14px;
              line-height: 22px;
              letter-spacing: -0.28px;
              color: #607987;
            }
          }
          a {
            width: 224px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.28px;
            color: #ffffff;
          }
        }
      }
    }
  }
}
@media (prefers-color-scheme: light) {
  footer {
    padding-top: 26px;
    background: #f9f8f7;

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .list1 {
        display: flex;
        column-gap: 80px;
        margin-bottom: 60px;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 729px;
          height: 2px;
          background: grey;
          position: absolute;
          top: 240px;
          right: 80px;
        }

        .li1 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .f-logo {
            margin-bottom: 22px;
          }
          p {
            width: 262px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #607987;
          }
          .ti1 {
            width: 216px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.32px;
            text-transform: capitalize;
            color: #0f1826;
            padding-top: 15px;
            margin-bottom: 38px;
          }
          .f-link {
            width: 216px;
            font-weight: 600;
            font-size: 14px;
            line-height: 32px;
            letter-spacing: -0.28px;
            color: #607987;
          }
        }
      }

      .list2 {
        display: flex;
        column-gap: 80px;

        .li2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .tit3 {
            width: 122px;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.28px;
            color: #607987;
          }

          .tit2 {
            width: 198px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.32px;
            color: #0f1826;
            margin-bottom: 17px;
          }

          p {
            width: 262px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.28px;
            color: #607987;
          }
          .link-box {
            a {
              width: 224px;
              font-weight: 600;
              font-size: 14px;
              line-height: 22px;
              letter-spacing: -0.28px;
              color: #607987;
            }
          }
          a {
            width: 224px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.28px;
            color: #607987;
          }
        }
      }
    }
  }
}
